.body {
  background-color: #e0e0e0;
}

.bla {
  text-align:center;
  margin-bottom: 20px;
}

.upload-wrapper {
  position: absolute;
  width: 20%;
  bottom: 0px;
  text-align:center;
  align-items:center;
}

.bigdiv {
  margin: 20px;
  display: flex;
  position: relative;
  /* align-items: center;
  justify-content: center; */
}

#about {
  clear: left;
  margin: 10px
}

#cy {
  width: 80%;
  height: 700px;
  background-color: white;
  display: block;
  align-content: center;
  border: 1px solid black;
  float: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}
